<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Razorpay Checkout</title>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
	<script>
		var options = {
			"key": "<%= key_id %>", // Razorpay Key ID
			"amount": "<%= amount %>", // Amount in paisa
			"currency": "INR",
			"slot_id": "<%= slot_id %>",
			"description": "<%= description %>",
			"order_id": "<%= order_id %>", // Razorpay Order ID
			"handler": function (response){
				alert("Payment Succeeded");
				// Redirect to success page
        window.location.href = "/paymentSuccess/<%= booking._id %>";
			},
			"prefill": {
				"name": "",  // Prefill name, if needed
				"email": "", // Prefill email
				"contact": "" // Prefill contact number
			},
			"theme": {
				"color": "#F37254"
			}
		};
		var razorpayObject = new Razorpay(options);
		razorpayObject.on('payment.failed', function (response){
			alert("Payment Failed");
			// Redirect to failure page
			window.location.href = "/paymentFailure";
		});
		razorpayObject.open();
	</script>
</body>

</html>
